:root {
  --TableCellInfoWidth: 40px;
  --TableCellWidth: 120px;
  --TableCellInfoBackground: white;
  --TableCellHeight: 20px;
  --FontFamily: system-ui, Ubuntu, Droid Sans, sans-serif;
  --MainBackground: #1e2324;
  --Foreground: rgb(156, 162, 160);
  --TableBorderColor: rgba(204, 204, 204, 0.13);
  --ActiveSelectionBackground: #515f59;
  --ActiveSelectionForeground: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  width: 100%;
  height: 100%;
  contain: strict;
  font-family: var(--FontFamily);
  background: var(--MainBackground);
  color: var(--Foreground);
}

.Content {
  contain: content;
}

.Table {
  contain: content;
  border: 1px solid var(--TableBorderColor);
  border-collapse: collapse;
}

.TableHeading {
  font-size: 13px;
  font-weight: 600;
}

.TableCell {
  border: 1px solid var(--TableBorderColor);
  contain: strict;
  width: var(--TableCellWidth);
  height: var(--TableCellHeight);
  padding-left: 10px;
  font-size: 13px;
}

.TableCellInfo {
  contain: strict;
  width: var(--TableCellInfoWidth);
  text-align: center;
  font-weight: bold;
}

.TableCellFocused {
  background: var(--ActiveSelectionBackground);
  color: var(--ActiveSelectionForeground);
}

.Content {
  contain: strict;
  width: 100%;
  height: 100%;
}

.TextArea {
  width: 100px;
  height: 19px;
  contain: strict;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--MainBackground);
  z-index: 1;
  resize: none;
  outline: none;
  border: none;
}
